<div class="bc-tbl bc-div">
	<p class="bc-header">
		<a href="{U_INDEX}">{L_INDEX}</a>&nbsp;&#187;&nbsp;<a href="#" class="nav-current">{PAGE_TITLE}</a>
	</p>
	<div class="bc-links">
		<div class="bc-links-left"><!--{CURRENT_TIME}&nbsp;&nbsp;|&nbsp;{S_TIMEZONE}--></div>
		<!-- IF not S_IS_BOT -->
		<!-- IF S_USER_LOGGED_IN and S_DISPLAY_PM -->
			<a href="{U_PRIVATEMSGS}" title="Private Messages">{PRIVATE_MESSAGE_INFO}</a>&nbsp;&nbsp;|&nbsp;
		<!-- ENDIF -->
        <a href="{U_MEMBERLIST}" title="{L_MEMBERLIST}">{L_MEMBERLIST}</a>&nbsp;&nbsp;|&nbsp;
	<!-- IF S_USER_LOGGED_IN --><a href="{U_PROFILE}" title="{L_PROFILE}">{L_SETTINGS}</a>&nbsp;&nbsp;|&nbsp;<!-- ENDIF -->
	<a href="{U_SEARCH}" title="{L_SEARCH}">{L_SEARCH}</a>&nbsp;&nbsp;|&nbsp;
	<a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a>&nbsp;&nbsp;|&nbsp;<!-- ENDIF -->
	<a href="#top">{L_BACK_TO_TOP}</a>
	</div>
</div>