<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td class="forum-buttons" colspan="3" width="100%">
		<!-- IF not S_IS_BOT -->
			<a href="/forum/viewtopic.php?f=3&t=603" title="Register">{L_REGISTER}</a>&nbsp;&nbsp;&nbsp;
			<a href="/forum/viewtopic.php?f=3&t=602&p=3665" title="Avgifter">Avgifter</a>&nbsp;&nbsp;&nbsp;
			<a href="http://www.hitta.se/kartan/partner?rsh=1&rc=59.66918,17.97516&rn=Arlanda%20RC&tl=1&back=http://www.arlandarc.se&backtext=Tillbaka%20till%20Arlanda%20RC&boxurl=http://www.arlandarc.se&mt=Arlanda%20RC&mc=59.66825,17.97515" title="Vägbeskrivning">Vägbeskrivning</a>&nbsp;&nbsp;&nbsp;
		<!-- ENDIF -->
		<!-- IF U_RESTORE_PERMISSIONS --><a href="{U_RESTORE_PERMISSIONS}" title="Restore Permission">{L_RESTORE_PERMISSIONS}</a>&nbsp;&nbsp;&nbsp;<!-- ENDIF -->
		<!-- IF not S_IS_BOT -->
			<!-- IF S_USER_LOGGED_IN -->
				<!-- IF S_DISPLAY_PM --><!--<a href="{U_PRIVATEMSGS}" title="Private Messages">{PRIVATE_MESSAGE_INFO}</a>&nbsp;&nbsp;&nbsp;--><!-- IF PRIVATE_MESSAGE_INFO_UNREAD --><a href="{U_PRIVATEMSGS}" class="pm-new-link">{PRIVATE_MESSAGE_INFO_UNREAD}</a>&nbsp;&nbsp;&nbsp;<!-- ENDIF --><!-- ENDIF -->
			<!-- ENDIF -->
		<!-- ENDIF -->
		<a href="http://www.arlandamc.nu" title="Arlanda MC" target="_blank" ref="nofollow">Arlanda MC</a><!-- IF S_USER_LOGGED_IN --><!-- ENDIF -->&nbsp;&nbsp;&nbsp;<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>
	</td>
</tr>
</table>